body {
  background: #e3f1f2;
  border-top: 10px solid #1B3D46;
}


h1 {
  color: #1B3D46;
}

.header {
  position: relative;
  height: 70px;
  margin: 20px 0 20px;
  border-bottom: 1px solid #ccc;
}

#logo {
  position: absolute;
  top:0;
  left: 0;
}


.content {
  background:  #fff;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius:  6px;
}


.well {
  background: #fff;
  border: solid 1px #ccc;
}

.hero-unit {
  background: #f3f9f9;
  border: 1px solid rgba(0,0,0,.1);
}


